body { background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center ;
  text-transform: uppercase;
  border top 10px
  
  
}
 h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
Skills {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
   text-align: center;
  text-transform: uppecase
   }
  .education{
    max-width: 800px;
    margin: 50px auto;
    padding: 0 20px;
    border 10px
  }
