ody {Background-color: #ffffff;
color: #dcdcdcc;
 
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 1px;
  margin-left: 1px;
    border:1px solid
    font-family: Arial, Helvetica, sans-serif;
  
  
}
  h1 {
    margin: 5px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    
  }

h3 {
  text-align: center;}
